@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
   --white: #ffffff;
   --blue_01: #1f3f68;
   --blue_02: #316099;
   --black: #000;
   --font-dark: #222;
   --blue_04: #5a98d0;
   --footer: #316099;
}

* {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   cursor: pointer;
}

img {
   display: block;
   width: 100%;
}

body {
   font-family: 'Roboto';
   font-size: 16px;
}

.wrap {
   max-width: 1150px;
   margin: 0 auto;
   padding: 0 5px;
}

.nav ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 48px;
   margin-top: 2.12rem;
}

.header {
   background: linear-gradient(0deg,
         #ebf3fb 8.84%,
         rgba(152, 195, 232, 0) 31.12%);

}

.header_content {
   display: flex;
   justify-content: space-around;
   margin-top: 4.8rem;
   padding-bottom: 9.5rem;
}

.font-h1 {
   color: var(--blue_01);
   font-size: 4rem;
   font-style: normal;
   font-weight: 300;
   line-height: 4.625rem;
   letter-spacing: 0.16rem;
   margin-top: 1.89rem;
}

.some-text {
   margin-top: 2rem;
   color: var(--blue_01);
   font-family: Roboto;
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.625rem;
   letter-spacing: 0.05rem;
   opacity: 0.6;
}

.button {
   margin-top: 4.44rem;
   display: inline-block;
   box-sizing: border-box;
   border-radius: 0.625rem;
   background: var(--blue_04);
   box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
   padding: 1rem 5rem;
   color: #FFF;
   text-align: center;
   font-family: Roboto;
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.625rem;
   letter-spacing: 0.04rem;
}

.font-h2 {
   margin-top: 4rem;
   color: var(--black);
   text-align: center;
   font-family: Roboto;
   font-size: 2.25rem;
   font-style: normal;
   font-weight: 300;
   line-height: 2.875rem;
   letter-spacing: 0.1125rem;
}

.what-we-do-items {
   margin-top: 4rem;
   display: flex;
   justify-content: space-between;
   margin-left: -1rem;
   margin-right: -1rem;
}

.what-we-do-item {
   box-sizing: border-box;
   margin-left: 1rem;
   margin-right: 1rem;
   padding: 1rem 2rem 2.76rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   border-radius: 0.625rem;
   background: #FFF;
   box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
}

.font-h3 {
   margin-top: 3rem;
   color: var(--blue_01);
   font-size: 1.25rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.875rem;
   letter-spacing: 0.0625rem;
}

.wwd-item_img {
   align-self: center;
}

.wwd-item_link {
   width: 7.54213rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 1.86rem;
   color: var(--blue_04);
   font-size: 0.875rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.875rem;
   letter-spacing: 0.04375rem;
}

.finished-project {
   margin-bottom: 7rem;
}

.project_desc {
   margin-top: 2rem;
   color: var(--font-dark);
   text-align: center;
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.625rem;
   letter-spacing: 0.05rem;
}

.project_main {
   margin-top: 4rem;
   position: relative;
   cursor: pointer;
}

.project_main__svg {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 39%;
   opacity: 0.7;
   z-index: 9;
}

.project_main__viel {
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(90deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
   transition: all 0.5s;
}

.project_main__viel:hover {
   opacity: 0;
}

.project_main h3 {
   position: absolute;
   top: 4rem;
   right: 4rem;
   color: var(--white);
   text-align: right;
   font-size: 2rem;
   font-style: normal;
   font-weight: 400;
   line-height: 2.875rem;
   letter-spacing: 0.1rem;
   z-index: 10;
}

.project_items {
   display: flex;
   margin: 2rem -1rem 0;
}

.project_item {
   margin: 0 1rem;
   position: relative;
   cursor: pointer;
}

.project_item h3 {
   position: absolute;
   top: 2rem;
   left: 2rem;
   color: var(--white);
   font-size: 1.75rem;
   font-style: normal;
   font-weight: 400;
   line-height: 2.875rem;
   letter-spacing: 0.0875rem;
   z-index: 10;
}

.project_item__viel {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 0.625rem;
   background: linear-gradient(309deg, rgba(66, 165, 245, 0.40) -1.71%, rgba(21, 101, 192, 0.60) 74.54%);
   transition: all 0.5s;
}

.project_item__viel:hover {
   opacity: 0;
}

.work {
   background: var(--blue_02);
   margin-top: 1px;
   padding-top: 5.69rem;
   padding-bottom: 6rem;
}

.work_items {
   display: flex;
   justify-content: space-between;
}

.work_item {
   max-width: 46%;
}

.work_item__title {
   width: 70%;
   color: var(--white);
   font-size: 2.25rem;
   font-style: normal;
   font-weight: 400;
   line-height: 2.875rem;
   letter-spacing: 0.1125rem;
}

.work_item__desc {
   color: var(--white);
   font-size: 1rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.625rem;
   letter-spacing: 0.05rem;
   opacity: 0.6;
   margin-top: 2rem;
}